@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

* {
    font-family: "Inter", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #303030;
    margin: 0;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    font-weight: 500;
    font-family: 'Raleway';
  }
h1{
    margin-left: 50px;
} 

#menuMeio{
    display: flex;
    flex-direction: row;
    text-align: center;
    padding: 20px 60px 60px 50px;
    font-weight: 400;
    margin-top: 10px;
    }

ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #FFFFFF;
    display: flex;
    overflow: hidden;
    max-width: 400px;
    
    list-style-type: none;
}

li{
    background-color: rgba(77, 188, 233, 0.75);
    border-radius: 15px;
    min-width: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    
}

/*.itemAnterior{
    transform: scaleX(-1);
}*/


.menuEsquerda{
    display: flex;
    flex-direction: column;
    width: 540px;
   
}
.menuDireita{
    display: flex;
    flex-direction: column;
    width: 540px;
    margin-left: 90px;
}

#menuMoto{
    display: flex;
    flex-direction: row;
    align-items: center;
   
}

.textoChamada{
    color: #265E70;
    font-weight: 400;
    font-size: 36px;
}

h2{
    font-size: 31px;
}

#botao{
    background-color: #4DBCE9;
    border-radius: 15px;
    color: #FFFFFF;
    font-family: 'Inter';
    font-weight: 700;
    font-size: 39px;
    width: 340px;
    text-align: center;
    border: 0px;
    
}

span{
    background-color: #FFFFFF;
    color: #265E70;
    width: 210px;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
  
}

.aPartir {
    font-weight: 400;
    font-size: 31px;
    margin-bottom: 9px;
}

h3{
    font-weight: 400;
    font-size: 21px;
    margin-top: 9px;
}

.botaoLateral{
    border: 0px;
   margin-left: 20px;
   margin-right: 20px;
 }